# 1378. Replace Employee ID with the Unique Identifier


Table: Employees

| Column Name   | Type    |
| --- | --- |
| id            | int     |
| name          | varchar |

id is the primary key (column with unique values) for this table.
Each row of this table contains the id and the name of an employee in a company.
 

Table: EmployeeUNI

| Column Name   | Type    |
| --- | --- |
| id            | int     |
| unique_id     | int     |

(id, unique_id) is the primary key (combination of columns with unique values) for this table.
Each row of this table contains the id and the corresponding unique id of an employee in the company.

-- 

Write a solution to show the unique ID of each user, If a user does not have a unique ID replace just show null.

Return the result table in any order.

In [ ]:

SELECT EmployeeUNI.unique_id, Employees.name 
FROM Employees 
LEFT JOIN EmployeeUNI ON EmployeeUNI.id = Employees.id

# 1068. Product Sales Analasys I

Table: Sales

| Column Name | Type  |
| --- | --- |
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

(sale_id, year) is the primary key (combination of columns with unique values) of this table.
product_id is a foreign key (reference column) to Product table.
Each row of this table shows a sale on the product product_id in a certain year.
Note that the price is per unit.
 

Table: Product

| Column Name  | Type    |
| --- | --- |
| product_id   | int     |
| product_name | varchar |

product_id is the primary key (column with unique values) of this table.
Each row of this table indicates the product name of each product.

-- 

Write a solution to report the product_name, year, and price for each sale_id in the Sales table.

Return the resulting table in any order.

In [ ]:
SELECT Product.product_name, Sales.year, Sales.price
FROM Sales
JOIN Product ON Sales.product_id = Product.product_id

# 1581. Customer who visited but did not make any transactions

Table: Visits

| Column Name | Type    |
| --- | --- |
| visit_id    | int     |
| customer_id | int     |

visit_id is the column with unique values for this table.
This table contains information about the customers who visited the mall.
 

Table: Transactions

| Column Name    | Type    |
| --- | --- |
| transaction_id | int     |
| visit_id       | int     |
| amount         | int     |

transaction_id is column with unique values for this table.
This table contains information about the transactions made during the visit_id.

--

Write a solution to find the IDs of the users who visited without making any transactions and the number of times they made these types of visits.

Return the result table sorted in any order.

In [ ]:
SELECT customer_id, COUNT(*) as count_no_trans 
FROM Visits
LEFT JOIN Transactions ON Visits.visit_id = Transactions.visit_id
WHERE Transactions.transaction_id is Null
GROUP BY customer_id

# 197. Rising temperature

Table: Weather

| Column Name   | Type    |
| --- | --- |
| id            | int     |
| recordDate    | date    |
| temperature   | int     |

id is the column with unique values for this table.
There are no different rows with the same recordDate.
This table contains information about the temperature on a certain day.

-- 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

In [ ]:
SELECT w1.id
FROM Weather as w1
JOIN Weather as w2 ON DATEDIFF(w1.recordDate, w2.recordDate) = 1 AND w1.temperature > w2.temperature

# 1661. Average Time of process per machine

Table: Activity

| Column Name    | Type    |
| --- | --- |
| machine_id     | int     |
| process_id     | int     |
| activity_type  | enum    |
| timestamp      | float   |

The table shows the user activities for a factory website.
(machine_id, process_id, activity_type) is the primary key (combination of columns with unique values) of this table.
machine_id is the ID of a machine.
process_id is the ID of a process running on the machine with ID machine_id.
activity_type is an ENUM (category) of type ('start', 'end').
timestamp is a float representing the current time in seconds.
'start' means the machine starts the process at the given timestamp and 'end' means the machine ends the process at the given timestamp.
The 'start' timestamp will always be before the 'end' timestamp for every (machine_id, process_id) pair.

-- 

There is a factory website that has several machines each running the same number of processes. Write a solution to find the average time each machine takes to complete a process.

The time to complete a process is the 'end' timestamp minus the 'start' timestamp. The average time is calculated by the total time to complete every process on the machine divided by the number of processes that were run.

The resulting table should have the machine_id along with the average time as processing_time, which should be rounded to 3 decimal places.

Return the result table in any order.

In [ ]:
SELECT a1.machine_id, ROUND(AVG(a2.timestamp - a1.timestamp), 3) as processing_time 
FROM Activity as a1
JOIN Activity as a2 ON a1.machine_id = a2.machine_id AND a1.process_id = a2.process_id AND a1.activity_type = 'start' AND a2.activity_type = 'end'
GROUP BY a1.machine_id

# 577. Employee Bonus

Table: Employee

| Column Name | Type    |
| --- | --- |
| empId       | int     |
| name        | varchar |
| supervisor  | int     |
| salary      | int     |

empId is the column with unique values for this table.
Each row of this table indicates the name and the ID of an employee in addition to their salary and the id of their manager.
 

Table: Bonus

| Column Name | Type |
| --- | --- |
| empId       | int  |
| bonus       | int  |

empId is the column of unique values for this table.
empId is a foreign key (reference column) to empId from the Employee table.
Each row of this table contains the id of an employee and their respective bonus.

--

Write a solution to report the name and bonus amount of each employee with a bonus less than 1000.

Return the result table in any order.

In [ ]:
SELECT emp.name, bon.bonus
FROM Employee as emp
LEFT JOIN Bonus as bon ON emp.empId = bon.empId
WHERE bon.bonus < 1000 OR bon.bonus IS NULL

# 1280. Students and Examinations

Table: Students

| Column Name   | Type    |
| --- | --- |
| student_id    | int     |
| student_name  | varchar |

student_id is the primary key (column with unique values) for this table.
Each row of this table contains the ID and the name of one student in the school.
 

Table: Subjects

| Column Name  | Type    |
| --- | --- |
| subject_name | varchar |

subject_name is the primary key (column with unique values) for this table.
Each row of this table contains the name of one subject in the school.
 

Table: Examinations

| Column Name  | Type    |
| --- | --- |
| student_id   | int     |
| subject_name | varchar |

There is no primary key (column with unique values) for this table. It may contain duplicates.
Each student from the Students table takes every course from the Subjects table.
Each row of this table indicates that a student with ID student_id attended the exam of subject_name.
 
--

Write a solution to find the number of times each student attended each exam.

Return the result table ordered by student_id and subject_name.

In [ ]:
SELECT stu.student_id, stu.student_name, sub.subject_name, COUNT(exam.student_id) as attended_exams
FROM Students as stu
CROSS JOIN Subjects as sub
LEFT JOIN Examinations as exam ON exam.student_id = stu.student_id AND sub.subject_name = exam.subject_name
GROUP BY stu.student_id, stu.student_name, sub.subject_name
ORDER BY stu.student_id, sub.subject_name

# 570. Managers with at Least 5 direct reports

able: Employee

| Column Name | Type    | 
| --- | --- |
| id          | int     | 
| name        | varchar | 
| department  | varchar | 
| managerId   | int     | 

id is the primary key (column with unique values) for this table.
Each row of this table indicates the name of an employee, their department, and the id of their manager.
If managerId is null, then the employee does not have a manager.
No employee will be the manager of themself.

--

Write a solution to find managers with at least five direct reports.

Return the result table in any order.

In [ ]:
SELECT emp.name
FROM Employee as emp
INNER JOIN Employee as man ON emp.id = man.managerId or emp.id is NULL
GROUP BY man.managerId
HAVING COUNT(man.managerId) >= 5

# 1934. Confirmation Rate

Table: Signups

| Column Name    | Type     |
| --- | --- |
| user_id        | int      |
| time_stamp     | datetime |

user_id is the column of unique values for this table.
Each row contains information about the signup time for the user with ID user_id.
 

Table: Confirmations

| Column Name    | Type     |
| --- | --- |
| user_id        | int      |
| time_stamp     | datetime |
| action         | ENUM     |

(user_id, time_stamp) is the primary key (combination of columns with unique values) for this table.
user_id is a foreign key (reference column) to the Signups table.
action is an ENUM (category) of the type ('confirmed', 'timeout')
Each row of this table indicates that the user with ID user_id requested a confirmation message at time_stamp and that confirmation message was either confirmed ('confirmed') or expired without confirming ('timeout').

--

The confirmation rate of a user is the number of 'confirmed' messages divided by the total number of requested confirmation messages. The confirmation rate of a user that did not request any confirmation messages is 0. Round the confirmation rate to two decimal places.

Write a solution to find the confirmation rate of each user.

Return the result table in any order.

In [ ]:
////////// First version using JOIN //////////
// Total count of actions for each user from Confirmations
SELECT s.user_id, COUNT(*) as total_count
FROM Signups AS s
LEFT JOIN Confirmations AS c ON c.user_id = s.user_id
GROUP BY s.user_id

// Count of confirmations for each user from Confirmations
SELECT s.user_id, COUNT(*) as confirmation_count
FROM Signups AS s
LEFT JOIN Confirmations AS c ON c.user_id = s.user_id
WHERE c.action = 'confirmed' 
GROUP BY s.user_id

// Select unique users in Signups
SELECT Signups.user_id
FROM Signups
GROUP BY Signups.user_id

// Everything together
SELECT Signups.user_id, ROUND(IFNULL(confirmed.confirmation_count / total.total_count, 0), 2) as confirmation_rate
FROM Signups
LEFT JOIN (
    SELECT s.user_id, COUNT(*) as total_count
    FROM Signups AS s
    LEFT JOIN Confirmations AS c ON c.user_id = s.user_id
    GROUP BY s.user_id
) AS total ON Signups.user_id = total.user_id or total.user_id is NULL
LEFT JOIN (
    SELECT s.user_id, COUNT(*) as confirmation_count
    FROM Signups AS s
    LEFT JOIN Confirmations AS c ON c.user_id = s.user_id
    WHERE c.action = 'confirmed' 
    GROUP BY s.user_id
) AS confirmed ON Signups.user_id = confirmed.user_id or confirmed.user_id is NULL
ORDER BY confirmation_rate ASC


////////// Second version using Aggregation function (idea from available solutions) //////////
SELECT s.user_id, ROUND(AVG(IF(c.action="confirmed", 1, 0)), 2) as confirmation_rate
FROM Signups AS s 
LEFT JOIN Confirmations AS c ON s.user_id = c.user_id 
GROUP BY user_id;