# 620. Not Boring Movies

Table: Cinema

| Column Name    | Type     |
| --- | --- |
| id             | int      |
| movie          | varchar  |
| description    | varchar  |
| rating         | float    |

id is the primary key (column with unique values) for this table.
Each row contains information about the name of a movie, its genre, and its rating.
rating is a 2 decimal places float in the range [0, 10]

Write a solution to report the movies with an odd-numbered ID and a description that is not "boring".

Return the result table ordered by rating in descending order.

In [ ]:
///// First version
SELECT *
FROM Cinema
WHERE Cinema.id % 2 = 1 
AND Cinema.description NOT LIKE '%boring%'
ORDER BY Cinema.rating DESC

///// Second version
SELECT *
FROM Cinema
WHERE mod(Cinema.id, 2) = 1 
AND Cinema.description NOT LIKE 'boring'
ORDER BY Cinema.rating DESC